In [1]:
import sys,os
current = os.getcwd()
os.chdir('../Press_Controller')
sys.path.append(os.getcwd())
os.chdir(current)
import Press_Controller as ps

RPi.GPIO only available for Raspberry Pi, use Dummy
hx711 not installed

In [8]:
import time
import pandas as pd
import numpy as np

In [7]:
time.ctime()

'Sun Mar 29 23:35:28 2020'

In [9]:
labels = {"Date", "Force_kN"}
df = pd.DataFrame(columns=labels)

In [46]:
force = np.random.rand()
df_temp = pd.DataFrame({"Date": [time.ctime()], "Force_kN": [force]})
df = pd.concat([df, df_temp], ignore_index=True)

In [47]:
df

                        Date  Force_kN
0   Sun Mar 29 23:36:25 2020  0.705684
1   Sun Mar 29 23:36:30 2020  0.760723
2   Sun Mar 29 23:36:32 2020  0.859125
3   Sun Mar 29 23:36:33 2020  0.701478
4   Sun Mar 29 23:36:40 2020  0.168110
5   Sun Mar 29 23:48:44 2020  0.576542
6   Sun Mar 29 23:48:48 2020  0.337516
7   Sun Mar 29 23:49:13 2020  0.505117
8   Sun Mar 29 23:49:15 2020  0.602906
9   Sun Mar 29 23:49:17 2020  0.728640
10  Sun Mar 29 23:50:30 2020  0.323056
11  Sun Mar 29 23:50:37 2020  0.569784

In [31]:
a =time.time()

In [32]:
b= time.time()-a

In [33]:
b

16.36180353164673

In [48]:
time.perf_counter()

1389.4695764

In [52]:
time.perf_counter()

1413.2567271

In [ ]:
x = True
init = time.perf_counter()
while x:
    a = init-time.perf_counter()
    if  a==4:
        x = False
        print("time is:",a)